html,
body{
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  color: $default;
  font-size: 16px;
  line-height: 12px;
  @extend %dmsans-700;
  display: flex;
  flex-direction: column;
}

.main{
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.filter-btn{
  background-color: transparent;
  margin-left: 6px;
  margin-right: 6px;
  border: transparent;
  font-size: 16px;
  color: #8b8b8b;
  outline: none;
  margin-bottom: 114px;
  &:active{
    color: #1a1a1a;
  }
}

.container__top{
  max-width: 1770px;
  margin: 0 auto;
  padding: 0;
}

.container__footer{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0;
}

.breadcrumbs{
  display: inline-flex;
  justify-content: center;
  margin-left: 18px;
  &__list{
    display: flex;
  }
  &__item{
    color: #737980;
    padding-right: 18px;
    position: relative;
    margin-top: 10px;
    &::after{
      content: "/";
      position: absolute;
      font-size: 14px;
      line-height: 24px;
      @extend %rubik-400;
      right: 6px;
    }
    &:last-child{
      color: #1a1a1a;
      &::after{
        display: none;
      }
    }
  }
  &__link{
    color: inherit;
    font-size: 14px;
    line-height: 24px;
    @extend %rubik-400;
  }
}




