$default: #436372;
$title: #243f4d;
$bg: #fcd7b6;
$btn: #a3bbc8;
$titles: #191919;

%rubik-700{
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: 700;
}

%rubik-500{
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%rubik-400{
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubik-300{
  font-family: 'Rubik-Light', sans-serif;
  font-weight: 300;
}

%dmsans-700{
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%dmsans-500{
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%dmsans-400{
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%poppins-700{
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 700;
}

%poppins-600{
  font-family: 'Poppins-Semi-bold', sans-serif;
  font-weight: 600;
}

%btn{
  padding: 20px 26px;
  color: #fff;
  background-color: $btn;
  @extend %rubik-500;
}

%checkbox-hidden{
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}