@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header{
  padding: 40px 75px;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu{
  margin-left: 160px;
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 30px;
  }
  &__list-link{
    @extend %rubik-500;
    font-size: 15px;
    color: $default;  
  }
}

.submenu-home {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  background: #fff;
  @extend %rubik-500;
  font-size: 15px;
  & a{
    color: $default;
  }
  &__link{
    padding: 10px;
    &-one{
      margin-top: 10px;
    }
  }
}
.menu ul li:hover .submenu-home {
  visibility: visible;
  opacity: 1;
}



.user-nav{
  display: flex;
  &__link{
    position: relative;
    &__search{
      margin-right: 20px;
    }
    &__cart{
      margin-right: 70px;
    }
  }
  &__num{
    @extend %dmsans-500;
    position: relative;
    top: -38px;
    right: -56px;
    font-size: 10px;
    color: $default;
  }
  &__number{
    @extend %dmsans-500;
    position: relative;
    top: -38px;
    right: -44px;
    font-size: 10px;
    color: $default;
  }
}

.header button{
  display:block;
  float: right;
  position: fixed;
  top: 10;
  right: 0;
  margin-right: 75px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
}

.user-nav__menu{
  height: 32%;
  width: 140px;
  background-color: #9abcca;
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  padding: 160px 60px 220px 20px;
  z-index: 0;
  transform: translateY(-200%);
  transition: .3s;
  &__list__item{
    padding-top: 26px;
    font-size: 20px;
  }
}

.user-nav__menu.user-nav__menu--active{
    transform: translateY(0%); 
}

.footer p,
.footer a{
  @extend %rubik-400;
  color: #7b7b7b;
  font-size: 14px;
  line-height: 32px;
}

.footer-top{
  padding: 82px 0 76px;
  border-bottom: 1px solid #dae4e9;
  display: flex;
  &__contacts{
    width: 213px;
    margin-right: 100px;
  }
  &__service{
    width: 125px;
    margin-right: 176px;
  }
  &__account{
    width: 100px;
    margin-right: 200px;
  }
  &__item-form{
    max-width: 270px;
  }
  &__logo{
    margin-bottom: 28px;
    display: block;

  }
  &__title{
    @extend %dmsans-700;
    color: #1f2044;
    font-size: 16px;
    line-height: 22px;
    margin: 16px auto 16px;
  }
  &__adress{
    line-height: 24px !important;
  }
  &__adress,
  &__phone,
  &__email{
    display: block;
  }
  &__text{
    line-height: 24px !important;
    margin-bottom: 36px;
  }
  &__form{
    display: flex;
  }
  &__form-input{
    background-color: #fef7f0;
    max-width: 170px;
    width: 100%;
    height: 38px;
    border: none;
    padding:  12px 14px;
    &::placeholder{
      color: #234969;
      @extend %dmsans-400;
      font-size: 12px;
    }
  }
  &__form-btn{
    @extend %btn;
    @extend %dmsans-400;
    font-size: 14px;
    border: none;
    max-width: 100px;
    padding: 12px 14px;
    cursor: pointer;
  }
}


.footer-bottom{
  display: flex;
  justify-content: space-between;
  margin-top: 34px;
  margin-bottom: 38px;
  .footer-bottom__nav-list{
    display: flex;
  }
  .footer-bottom__nav-items{
    max-width: 68px;
  }
  .footer-bottom__nav-items-link{
    width: 56px;
    margin-right: 14px;
    &::after{
      content: "|";
      position: absolute;
      width: 1px;
      height: 17px;
      @extend %rubik-500;
      color: #7b7b7b;
      font-size: 16px;
      font-style: normal;
      line-height: 32px;
      align-items: flex-end;
      margin-left: 14px;
    }
  }
}

.top-slider{
  background-color: $bg;
  padding-top: 0;
  &__item{
    display: flex !important;
    justify-content: space-between;
    padding: 220px 298px 204px;
  }
  &__title{
    max-width: 470px;
    font-size: 72px;
    line-height: 70px;
    color: $title;
    @extend %rubik-500;
    margin-bottom: 32px;
  }
  &__text{
    max-width: 370px;
    font-size: 18px;
    line-height: 30px;
    color: $default;
    @extend %rubik-400;
    margin-bottom: 58px;
  }
  &__link{
    @extend %btn;
  }
  &__img{
    margin-top: 56px;
  }
  &::before{
    content: url(../images/slider/circle.png);
    position: absolute;
    right: 184px;
    top: 242px;
  }
  .slick-dots{
    display: flex;
    justify-content: center;

    li{
      margin-right: 10px;
      button{
        padding: 0;
        background-color: #fde3cc;
        width: 29px;
        height: 29px;;
        border-radius: 50%;
        border: none;
        margin-bottom: 44px;
        cursor: pointer;
        @extend %rubik-500;
        font-size: 11px;
        line-height: 9px;
        color: $title;
      }
      &.slick-active{
        button{
          background-color: #fff;
          border-radius: 50%;
          border: none;
        }
      }
    }
  }
}

.link-arrow{
  color: #fff;
  font-size: 15px;
  line-height: 12px;
  @extend %rubik-500;
  margin-left: 52px;
}

.info{
  display: grid;
  grid-template-columns: 32.2% 33.9% 33.9%;
  grid-template-rows: 170px;
  background-color: #fef7f0;
  margin-bottom: 74px;
  &__item{
    margin-left: 60px;
    &-pic1{
      position: absolute;
      margin: 48px 0 0 80px;
    }
    &-circle1{
      position: absolute;
      margin: 78px 0 0 112px;
    }
    &-pic2{
      position: absolute;
      margin: 48px 0 0 88px;
    }
    &-circle2{
      position: absolute;
      margin: 66px 0 0 122px;
    }
    &-pic3{
      position: absolute;
      margin: 48px 0 0 86px;
    }
    &-circle3{
      position: absolute;
      margin: 78px 0 0 120px;
    }
    &-title{
      @extend %dmsans-700;
      font-size: 18px;
      line-height: 40px;
      color: #414141;
      margin: 34px auto 0;
      max-width: 220px;
      &__support{
        max-width: 200px;
      }
    }
    &-text{
      @extend %dmsans-500;
      font-size: 16px;
      line-height: 30px;
      color: #585858;
      margin: 0 auto 64px;
      max-width: 220px;
      &__support{
        max-width: 200px;
      }
    }
  }
  &__items{
    border-right: solid 1px #e8e4df;
    height: 170px;
    position: relative;
  }
}

.week{
  margin-bottom: 102px;
  &__top{
    text-align: center;
    &-title{
      font-size: 36px;
      color: $titles;
      margin-bottom: 36px;
    }
  }
  &__content-items{
    display: grid;
    grid-template-columns: 270px 270px 270px 270px;
    grid-template-rows: 380px 380px;
    grid-column-gap: 30px;
    grid-row-gap: 42px;
    margin-bottom: 186px;
  }
  &__bottom{
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 388px;
    grid-column-gap: 2%;
    &__element{
      max-width: 870px;
      padding: 84px 142px;
      background-color: #feefe2;
      justify-content: center;
    }
    &__element h3{
      font-size: 26px;
      line-height: 32px;
      color: $title;
      margin: 16px 0 24px 248px;
    }
    &__element p{
      max-width: 400px;
      font-size: 16px;
      line-height: 30px;
      @extend %rubik-400;
      margin: 0 0 32px 248px;
    }
    &__element a{
      background-color: transparent;
      border: 1px solid #b3b7b5;
      border-radius: 5px;
      padding: 22px 18px;
      margin-left: 248px;
      @extend %rubik-500;
      font-size: 15px;
      line-height: 12px;
      color: $title;
      span{
        margin-left: 42px;
      }
    }
    &__element-one::before{
      content: url(../images/presentation/element1.png);
      position: absolute;
      margin-top: -192px;
    }
    &__element-two::before{
      content: url(../images/presentation/element2.png);
      position: absolute;
      margin-top: -188px;
      
    }
    &__element-two h3{
      margin: 0 0 18px 272px;
    }
    &__element-two p{
      margin-left: 272px;
    }
    &__element-two a{
      margin-left: 272px;
    }
  }
}

.filter-btn:focus{
      color: #1a1a1a;
    }

.new{
  &__top{
    text-align: center;
    margin-bottom: 78px;
    &-title{
      font-size: 36px;
      color: $titles;
      margin-bottom: 36px;
    }
  }
  &__content{
    display: grid;
    grid-template-columns: 370px 370px 370px ;
    grid-template-rows: 246px 246px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-bottom: 120px;
    &__item{
      padding-top: 40px;
      padding-left: 38px;
      background-color: #f8f8f8;
      &__title{
        font-size: 20px;
        line-height: 22px;
        max-width: 195px;
        color: $titles;
        padding-bottom: 18px;
      }
      &__type{
        font-size: 16px;
        color: $btn;
      }
      &__image{
          position: absolute;
        &-one{
          padding-left: 76px;
          margin-top: -14px;
        }
        &-two{
          padding-left: 81px;
          margin-top: -17px;
        }
        &-three{
          padding-left: 176px;
          margin-top: -60px;
        }
        &-four{
          padding-left: 83px;
          margin-top: -30px;
        }
        &-five{
          padding-left: 176px;
          margin-top: -80px;
        }
        &-six{
          padding-left: 86px;
          margin-top: -8px;
        }
      }
    }
    
  }
}

.content-item{
  max-width: 270px;
  text-align: center;
  padding-top: 26px;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  &__img-box{
    position: relative;
    height: 210px;
    overflow: hidden;
    margin-bottom: 40px;
  }
  &__link-box{
    max-width: 158px;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    display: flex;
    margin: 0 auto;
    transform: translateY(300%);
    transition: all .2s;
  }
  &__link{
    border-radius: 50%;
    background-color: #fff;
    padding: 11px 11px;
    margin: 0 8px;
    display: inherit;
    path{
      transition: all .3s;
    }
  }

  &__link:hover{
    background-color: $btn;
    path{
      fill: #fff;
    }
  }
  &__images{
    object-fit: cover;
    margin: 0 auto;
  }
  &__title{
    @extend %dmsans-500; 
    font-size: 16px;
    line-height: 40px;
    color: $title;
  }
  &__price{
    font-size: 16px;
    line-height: 40px;
    color: $btn;
  }
  &:hover{
    .content-item__link-box{
      transform: translateY(0);
    }
  }
}

.new__video{
  background-image: url(../images/video-bg.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 118px;
}

.articles{
  &-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 52px;
    &__title{
      font-size: 36px;
      color: $titles;
    }
    &__link{
      font-size: 16px;
      color: #262626;
      }
    &__link-span{
      margin-left: 16px;
    }
  }
  &-content{
    display: grid;
    grid-template-columns: 370px 370px 370px;
    grid-template-rows: 270px 170px;
    grid-column-gap: 30px;
  }
  &__item{
    background-color: #fff;
    &-image{
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    }
    &-text{
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    }
    &-news{
      @extend %poppins-700;
      font-size: 14px;
      line-height: 20px;
      color: #fff;
      position: absolute;
      border-width: 90px;
      padding: 8px 30px;
      border-radius: 25px;
      background-color: $btn;
      margin-top: -36px;
      margin-left: 28px;
    }
    &-title{
      @extend %dmsans-500;
      font-size: 18px;
      line-height: 24px;
      color: #262626;
      margin: 20px 0 0 30px;
      padding-bottom: 20px;
      max-width: 284px;
    }
    &-title-three{
      margin-bottom: 24px;
    }
    &-details{
      font-family: sans-serif;
      font-size: 12px;
      line-height: 30px;
      color: #222933;
      display: flex;
      border-top: 1px solid #e0e0e0;
      margin-left: 28px;
      margin-right: 28px;
      padding-top: 10px;
    }
    &-time{
      margin-left: 6px;
      margin-right: 30px;
    }
    &-author-link{
      font-family: sans-serif;
      font-size: 12px;
      line-height: 30px;
      color: #222933;
    }
  }
  &__partners{
    background-color: #fef7f0;
    height: 436px;
    margin-top: -190px;
    padding-top: 264px;
    display: grid;
    grid-template-columns: 130px 172px 172px 172px 130px;
    grid-template-rows: 100px;
    grid-column-gap: 80px;
    justify-content: center;
    &-image__two{
      padding-top: 20px;
    }
    &-image__four{
      padding-top: 16px;
    }
  }
}

.login__top,
.register__top,
.terms__top,
.about__top{
  text-align: center;
  background-color: #edf1f4;
  color: #222933;
  padding: 32px 0;
  &__title{
    font-size: 36px;
    line-height: 24px;
    @extend %rubik-300;
  }
}

.modal{
  max-width: 470px;
  margin: 120px auto 122px;
  @extend %rubik-400;
  font-size: 14px;
  line-height: 24px;
  color: $default;
  & a{
    color: inherit;
  }
  &__label{
    margin-bottom: 26px;
    display: block;
  }
  &__input{
    display: block;
    width: 100%;
    border: 2px solid #f6f6f6;
    margin-top: 4px;
    margin-bottom: 34px;
    height: 52px;
    padding: 0 15px;
  }
  &__btn{
    display: block;
    background-color: $btn;
    width: 100%;
    height: 60px;
    color: #fffefe;
    border: none;
    cursor: pointer;
    margin-bottom: 30px;
  }
  &__other{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #f6f6f6;
  }
  &__text{
    margin-top: 32px;
    text-align: center;
    margin-bottom: 46px;
    &__pass{
      padding-bottom: 32px;
      border-bottom: 2px solid #f6f6f6;
    }
  }
  &__create{
    background-color: transparent;
    border: 2px solid $btn;
    padding: 18px 152px;
    @extend %rubik-500;
    font-size: 18px;
    line-height: 28px;
    color: $title;
  }

}

.err{
  background-color: #edf1f4;
  &__content{
    display: block;
    text-align: center;
    padding: 50px 0;
  }
  &__number{
    @extend %poppins-700;
    font-size: 280px;
    margin-top: 100px;
    margin-bottom: 212px;
  }
  &__text{
    font-size: 40px;
    margin-bottom: 80px;
  }
  &__back{
    font-size: 24px;
    padding-left: 8px;
    &__link{
      color: inherit;
    }
  }
}

.terms__content{
  display: block;
  margin: 120px auto;
  max-width: 1200px;
  color: $title;
  font-size: 16px;
  line-height: 30px;
  @extend %rubik-400;
  & h3{
    @extend %rubik-500;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 18px;
  }
  & ol{
    margin-bottom: 60px;
    padding-left: 32px;
    max-width: 1200px;
  }
  &__list__item{
    list-style-type: decimal-leading-zero;
    padding-left: 10px;
  }
  &__list__item + .terms__content__list__item{
    margin-top: 30px;
  }
  &__collect__text{
    margin-bottom: 60px;
    max-width: 1160px;
  }
  &__use__text{
    max-width: 1160px;
  }
}

.about__content{
  &__top{
    padding: 122px 0;
    display: flex;
    &__image{
      height: 100%;
    }
    &__items{
      padding: 82px 0 210px 46px;
      display: inline-block;
      &__item{
        max-width: 270px;
        margin-bottom: 40px;
        &__num{
          @extend %rubik-700;
          font-size: 140px;
          line-height: 32px;
          color: $btn;
        }
        &__text{
          margin-left: 180px;
          margin-top: -50px;
          @extend %rubik-400;
          font-size: 16px;
          line-height: 30px;
          color: $title;
        }
      }
      &__header{
        font-size: 36px;
        line-height: 32px;
        margin-bottom: 40px;
      }
      &__text{
        @extend %rubik-400;
        font-size: 16px;
        line-height: 30px;
        color: $title;
        margin-bottom: 56px;
      }
      &__icons{
        display: flex;
        justify-content: space-between;
        border-top: 2px solid #e6eaf0;
        &__item{
          margin-top: 40px;
          &__image{
            position: absolute;
            margin-top: 10px;
          }
          &__number{
            @extend %dmsans-700;
            font-size: 36px;
            line-height: 38px;
            color: $title;
            margin-left: 52px;
          }
          &__text{
            @extend %dmsans-700;
            font-size: 16px;
            line-height: 17px;
            color: #4c4c4c;
            margin-left: 56px;
          }
          &-one{
            border-left: 1px solid #e6eaf0;
            padding-left: 38px;
          }
          &-two{
            border-left: 1px solid #e6eaf0;
            padding-left: 38px;
          }
        }
      }
    }
  }
}

.about__icons{
  background-color: $bg;
  text-align: center;
  margin-bottom: 120px;
  &__items{
    display: flex;
    justify-content: space-between;
    padding: 86px 0 82px 0;
    &__item{
      text-align: center;
      margin-left: 40px;
    }
    &__item__image{
      margin-left: 46px;
      margin-bottom: 16px;
      &-one{
        padding-left: 6px;
        padding-bottom: 4px;
      }
      &-two{
        padding-top: 8px;
        padding-bottom: 4px;
      }
      &-three{
        padding-left: 4px;
      }
      &-four{
        padding-right: 40px;
      }
    }
    &__item__num{
      font-size: 36px;
      line-height: 32px;
      color: $title;
      margin-bottom: 10px;
    }
    &__item__text{
      font-size: 18px;
      line-height: 32px;
      color: $title;
    }
  }
}

.about__team{
  column-count: 3;
  margin-bottom: 100px;
  &__title{
    font-size: 36px;
    line-height: 32px;
    color: $title;
    margin-bottom: 20px;
  }
  &__text{
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: $title;
    max-width: 310px;
    margin-bottom: 42px;
  }
  &__btn{
    @extend %btn;
    @extend %poppins-600;
  }
  &__peoples{
    margin-top: 300px;
    &__worker{
      height: 424px;
    }
    &__image{
      box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    }
    &__info{
      padding: 28px 22px;
      background-color: #fff;
      position: absolute;
      display: flex;
      margin-top: -50px;
      max-width: 324px;
      height: 110px;
      column-count: 3;
      font-size: 22px;
      line-height: 26px;
      color: $default;
      box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    }
    &__info__item{
      display: block;
    }
    &__info__name{
      width: 150px;
    }
    &__info__vacancy{
      @extend %rubik-400;
      font-size: 16px;
      line-height: 30px;
      color: #565872;
      width: 140px;
      margin-right: 54px;
    }
    &__info__items{
      display: flex;
      width: 90px;
    }
    &__info__google{
      margin-left: 6px;
    }
  }
}






























.partners-items{
  background-color: #fef7f0;
  height: 250px;
  padding-top: 80px;
  display: grid;
  grid-template-columns: 130px 172px 172px 172px 130px;
  grid-template-rows: 100px;
  grid-column-gap: 80px;
  justify-content: center;
  &-image__two{
    padding-top: 20px;
  }
  &-image__four{
    padding-top: 16px;
  }
}

@import 'media';

